<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />
</head>

<body>

  <div class="intro-header">
    <div class="side-by-side">
      <div class="main-content">
        <div class="wrapper-masthead">
          <div class="container">
            <header class="masthead clearfix">
              <nav>
                <a href="https://www.meetup.com/Elixir-Berlin/">The Meetup</a>
                <a href="https://github.com/elixir-berlin/planning/issues/new?template=talk.yml">Apply as Speaker</a>
                <a href="https://github.com/elixir-berlin/elixir-companies-berlin">Company Register</a>
                <a href="https://join.slack.com/t/elixir-lang/shared_invite/zt-29w4dnkie-VkuKAAiVHSMmKakxrVA27w">Slack (&#x23;Berlin)</a>
                <a href="https://discord.com/invite/WaKTXHD">Discord</a>
              </nav>
            </header>
          </div>
        </div>

        <div class="container">
          <div class="space-small"></div>

          <center>
            <a class="ch-info" href="https://www.meetup.com/Elixir-Berlin/">
              <h1 class="site-name">Elixir Berlin</h1>
              <p>Every 2nd Thursday of the month</p>
            </a>
          </center>

          <div class="space-medium"></div>
        </div>
      </div>

      <div class="twitter">
        <a class='twitter-timeline' data-handle='ElixirBerlin' data-width='450' data-height='570' data-theme='light' ></a>
        <script src='https://www.athabasca.dev/content/scripts/widget.js'></script>
      </div>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        <div class="svg-icon">
          {% include svg-icons.html %}
        </div>
        <div class="coc">
          💜 Ethos: Read our <a href="https://github.com/elixir-berlin/planning/blob/main/Code-of-Conduct.md">Code of Conduct</a>
          <br/>
          💬 Talk: <a href="https://join.slack.com/t/elixir-lang/shared_invite/zt-29w4dnkie-VkuKAAiVHSMmKakxrVA27w">Join &#x23;Berlin on Elixir-Slack</a>
          💬 Talk: <a href="https://discord.com/invite/WaKTXHD">Join Elixir Berlin on Discord</a>
        </div>
      </footer>
    </div>
  </div>

  {% include analytics.html %}
</body>

</html>
